body {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
  /* padding-bottom: 50px; */
}

.profile-picture {
    margin: 50px 140px 50px 140px;
    max-width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    filter: brightness(50%);
    /* opacity: 0.8; */
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    color: linear-gradient;
}

.banner {
    align-items: center;
    justify-content: center;
    position: relative;

}


.banner-title {
    font-size: 85px;
    font-weight: 70px;
    margin-top: 5px;
    margin-bottom: 20px;
    position: absolute;
}

.banner-greeting {
    position: absolute;
    top: 25%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.banner-description {
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);

    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
    width: 632px;

}

.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700 bold;
    line-height: normal;
    margin: 30px;
    padding-left: 250px;
}

.holiday {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 30px;
    margin-top: 20px;
    padding-left: 250px;
}

.category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 30px;
    padding-left: 250px;
}

.newyear {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    fill: url(resources/New\ Year\ Photo.png), lightgray 50% / cover no-repeat;
    align-items: center;
    padding-left: 300px;
    margin-left: 150px;
    left: 50%;


}

.discount-content {
    align-items: center;
}

.gifts {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500 bolder;
    line-height: normal;
    width: 240px;
    height: 29px;
    margin: 50px 140px 50px 145px;

}


.portfolio {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 50px 140px 50px 140px;

}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 896px;
    margin-left: 140px;
}

.image-group {
    border-radius: 16px;
    background: url(resources/Rectangle\ 3.png), lightgray 0px -35.755px / 100% 142.115% no-repeat;
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    justify-content: space-around;
    /* padding: 16px; */
    margin: 10px;
}

.image {
    max-width: 1320px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-left: 210px;

}

.image-group img:hover {
    box-shadow: 0 0 0 10px #000000;
    transition: .5s ease;
    border-radius: 10px;
}

.newsletter {
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-left: 110px;
    margin-top: 80px;

}

.sub-icon {
    padding-top: 80px;
    padding-left: 585px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.newsletter .news-text {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    position: absolute;
    padding-left: 450px;


}

.description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 896px;
    margin-top: 150px;
    margin-left: 240px;
}

#email {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    font-size: 24px;
    padding-left: 20px;
    justify-content: center;
    margin-left: 130px;
}

button {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    font-size: 24px;
    color: #FFF;
    border: none;
    margin-right: 350px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100px;

}

.subscription {
    display: flex;
    position: relative;
}

input {
    border: none;
}

.footer-sect {
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;
    margin-top: 80px;
    /* margin-left: 110px; */


}
.foot-text {
    width: 375px;
    height: 80px;
    display: flex;
    gap: 150px;
}

.address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width: 375px;
    height: 80px;
    padding-top: 120px;
    padding-left: 140px;
    /* line-height: 40px; 166.667% */
}

.image-icon {
    width: 24px;
    height: 24px;
    /* padding-top: 145px; */
    /* padding-left: px; */

    flex-shrink: 0;
    padding-top: 150px;
    padding-left: 150px;
    padding-bottom: 409px;
}

#number {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 40px;  */


    padding-top: 125px;
    padding-left: 20px;
    padding-bottom: 600px;
    width: 195px;
    height: 40px;
}







.contacts{
    display: flex;
}

.social-icons {
    display: flex;
    width: 375px;
    height: 64px;
    align-items: center;
    padding-left: 40%;
    gap: 20px;
}

.face-icons {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.copyrights {
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 130px;
    display: flex;
}

.unsubscribe {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 700px;
}

hr {
    width: 1000px;
    height: 1px;
    align-items: center;
    background: rgba(7, 214, 159, 0.15);
}

.best-offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500 bolder;
    line-height: normal;
    width: 240px;
    height: 29px;
    margin: 50px 140px 20px 145px;

}

.new-offer-section {
    width: 1600px;
    height: 535px;
    margin-top: 80px;
    display: flex;
}

.comingsoon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    width: 340px;
    height: 60px;
    margin-left: 140px;

}

.offer-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 393px;
    margin-left: 140px;

}
.round-image{
    width: 463px;
height: 463px;
flex-shrink: 0;
border-radius: 463px;
border: 15px solid #F00;
}
.image-ellipse{
    width: 364.844px;
height: 364.844px;
flex-shrink: 0;
align-items: center;
border-radius: 364.844px;
/* background: url(resources/Ellipse\ 1.png), lightgray -91.279px 0px / 150.038% 100% no-repeat; */
width: 364px;
height: 364px;
padding-left: 50px;
padding-top: 50px;
}
.text{
    padding-left: 5%;
}
.greet-msg{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 126px;
    height: 58px;
}
.msg{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 276px;
height: 96px;
}
.happy-new-year{
    width: 140px;
height: 140px;
flex-shrink: 0;
}





